.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.image {
  color:#000000;
}
.placeholder {
}
.button {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.line {
}
.flow_shape {
}
.html_button {
  color:#000000;
}
.horizontal_line {
}
.vertical_line {
}
.icon {
}
.box_3 {
}
.primary_button {
  color:#FFFFFF;
}
._黑体 {
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
