body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1151px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:777px;
}
#u1050 {
  position:absolute;
  left:27px;
  top:27px;
  width:375px;
  height:767px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:376px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:551px;
}
#u1052 {
  position:absolute;
  left:56px;
  top:136px;
  width:321px;
  height:551px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:268px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:17px;
}
#u1054 {
  position:absolute;
  left:58px;
  top:138px;
  width:315px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1055 {
  position:absolute;
  left:2px;
  top:0px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056 {
  position:absolute;
  left:57px;
  top:181px;
  width:319px;
  height:9px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:-4px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:20px;
  color:#0066FF;
}
#u1058 {
  position:absolute;
  left:55px;
  top:152px;
  width:36px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:20px;
  color:#0066FF;
}
#u1059 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  position:absolute;
  left:71px;
  top:207px;
  width:197px;
  height:16px;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u1062 {
  position:absolute;
  left:57px;
  top:259px;
  width:319px;
  height:1px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:71px;
  top:280px;
  width:286px;
  height:96px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:150px;
}
#u1066 {
  position:absolute;
  left:71px;
  top:398px;
  width:286px;
  height:149px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:66px;
  width:282px;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u1068 {
  position:absolute;
  left:71px;
  top:237px;
  width:110px;
  height:15px;
  font-size:12px;
  color:#A1A1A1;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1070 {
  position:absolute;
  left:347px;
  top:160px;
  width:23px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1072 {
  position:absolute;
  left:316px;
  top:154px;
  width:27px;
  height:25px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:777px;
}
#u1074 {
  position:absolute;
  left:473px;
  top:27px;
  width:375px;
  height:767px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:376px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:551px;
}
#u1076 {
  position:absolute;
  left:502px;
  top:136px;
  width:321px;
  height:551px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:268px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:17px;
}
#u1078 {
  position:absolute;
  left:504px;
  top:138px;
  width:315px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1079 {
  position:absolute;
  left:2px;
  top:0px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  position:absolute;
  left:503px;
  top:181px;
  width:319px;
  height:9px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:-4px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:20px;
  color:#0066FF;
}
#u1082 {
  position:absolute;
  left:501px;
  top:152px;
  width:36px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:20px;
  color:#0066FF;
}
#u1083 {
  position:absolute;
  left:2px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1084 {
  position:absolute;
  left:517px;
  top:207px;
  width:197px;
  height:16px;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u1086 {
  position:absolute;
  left:503px;
  top:259px;
  width:319px;
  height:1px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:517px;
  top:280px;
  width:286px;
  height:96px;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  position:absolute;
  left:517px;
  top:578px;
  width:286px;
  height:48px;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:150px;
}
#u1092 {
  position:absolute;
  left:517px;
  top:398px;
  width:286px;
  height:149px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:66px;
  width:282px;
  word-wrap:break-word;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u1094 {
  position:absolute;
  left:517px;
  top:237px;
  width:110px;
  height:15px;
  font-size:12px;
  color:#A1A1A1;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1096 {
  position:absolute;
  left:793px;
  top:160px;
  width:23px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1097 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1098 {
  position:absolute;
  left:762px;
  top:154px;
  width:27px;
  height:25px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:172px;
}
#u1100 {
  position:absolute;
  left:502px;
  top:514px;
  width:321px;
  height:172px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:78px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1102 {
  position:absolute;
  left:891px;
  top:523px;
  width:15px;
  height:15px;
  font-size:10px;
  color:#FF0000;
}
#u1103 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1104 {
  position:absolute;
  left:930px;
  top:522px;
  width:221px;
  height:48px;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1106 {
  position:absolute;
  left:816px;
  top:584px;
  width:15px;
  height:15px;
  font-size:10px;
  color:#FF0000;
}
#u1107 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
